.form-horizontal .form-group{
    margin-right: -10px;
    margin-left: -10px;
}

.table:not(.no-header) tbody tr:first-child {
    background-color: #f1f3f5;
}

.table tr td:last-child{
    width:8vw;
}

.table tr td:last-child a{
    color:#333;
}

.table tr td:last-child a::after{
    content: ' ';
}

.table tr td:last-child a{
    padding: 0 6px;
    margin-right: 5px;
    line-height: 1.3;
}

.table tr td:last-child a > i{
    font-size: 10px;
    color: #fff;
    vertical-align: middle;
}

.grid-row-delete, .tree_branch_delete, .delete-row{
    background: #ef5757;
    border: #ef5757;
}

.grid-row-edit{
    background: #f18917;
    border-color: #f18917;
    line-height: 1.2 !important;
}

.dd-nodrag a{
    padding: 0 6px;
    line-height: 1.3;
}

.dd-nodrag a > i{
    font-size: 10px;
    color: #fff;
    vertical-align: middle;
}

.bd-callout{
    padding: 0.7rem;
    margin-bottom: 0.7rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-primary{
    border-left-color: #c1e8ff;
}

.bd-callout-success{
    border-left-color: #7194b9;
}

.bd-callout-info{
    border-left-color: #ffc1c1;
}

.bd-callout-warning{
    border-left-color: #ffc973;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

form{
    font-size: 13px;
}

input[type="number"], .discount {
    text-align: right;
}
.radio-inline+.radio-inline
{
    margin-left: 0 !important;
}

.skin-blue .main-header .navbar, .skin-blue .main-header .logo:hover{
    background-color: #0747A6;
}

.skin-blue .main-header .logo, .skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #0a3779;
}
.logo{
    padding: 0 !important;
}

.box.box-info{
    border-top-color : #0747A6;
}

.select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus{
    border: none;
}

.modal-header {
    background-color: #f0f0f0;
}

.custom-table-striped > tbody > tr:nth-child(3n+1){
    background: #f9f9f9;
}

.btn-group .btn-default:hover, .btn-group .btn{
    border:none;
}

.btn-group .btn-default:active:hover{
    border:none;
    background: #f2f3f5;
}

.btn-group .btn-default{
    background-color: #fff;
}

.btn-group .btn-default.active{
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.12) !important;
    background: #f2f3f5;
}

.btn-group .btn-default:hover{
    background: #f2f3f5;
}

.btn-group span{
    font-size: 13px;
}

.grid-refresh{
    display:none !important;
}

.add-button{
    padding: 5px 10px;
}

.modal {
    overflow-y:auto;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
    height: 80px;
}

.small-box .icon{
    top: -15px;
}


.inline-custom-form .control-label
{
    margin-top: 7px !important;

}
.box-custom-form .box-header{
    padding: 8px 15px;
}
.box-custom-form .box-header .box-title{
    font-size: 15px;
}
.inline-custom-form .box-body{
    padding: 0;
}
.inline-custom-form .form-group{
    width: auto;
    vertical-align: top;
}
.inline-custom-form .form-group .col-sm-2{
    width: 60px;
}
.inline-custom-form .form-group .col-sm-8 {
    width: 280px;
}
.inline-custom-form .form-group .col-sm-8 .form-control{
    width: 100%;
}
.content.fee-types .inline-custom-form .control-label[for='name'] {
    display: none;
}
.content-header
{
    padding: 15px 20px;
    background: #fff !important;
    color:#666f7b;
    border-bottom: 1px solid #e2e2e2;
}
.content-header h1
{
    font-size: 20px;
}
.content.extra-fees .inline-custom-form .control-label[for='name'] {
    display: none;
}
.courses .checkbox-inline:first-of-type
{
    margin-left: 10px;
}
.courses .checkbox-col
{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.courses .has-error , .courses .has-error .control-label
{
    color: #dd4b39 !important;
}

.export-selected
{
    display: none !important;
}
