td {
    outline: none;
}

.error-tr{
    background: #fff0f0 !important;
    color: black;
}

.error-td{
    background: url('/img/warning.png');
    background-size: 20px;
    color: black;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
}

.error-td-active{
    background: #ffd4d4 !important;
    color: black;
}

.success-tr{
    background: rgb(240, 251, 239) !important;
    color: #787878;
    outline: none;
}
[data-tooltip] {
    position: relative;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

[data-tooltip]:before {
    position: absolute;
    bottom: 100%;
    margin-bottom: 5px;
    padding: 7px;
    width: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(207, 4, 4, 1);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

[data-tooltip]:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid rgba(207, 4, 4, 1);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    position: absolute;
    z-index: 9999;
    opacity: 1;
}

#sheetPreview{
    overflow-x: scroll !important;
}